@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
	max-width: 840px;
	margin: 0 auto;
	padding: 2rem;

	font-weight: normal;
}
body {
	font-family: ubuntu, sans-serif;
	font-size: 13px;
}
@media (max-width: 580px) {
	#app {
		padding: 1rem;
	}
	body {
		font-size: 12px;
	}
}
